

body {
  font: normal normal 13px/16px "Open Sans", sans-serif;
  background: #dfdfdf;
}

.container {
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  margin-top: 40px;
  background: white;
  border-radius: 5px;
}

form {
  display: inline-block;
}

input {
  padding: 4px 15px 4px 5px;
  border-radius: 5px;
  border: 1px solid #aaa;
  font-family: 'Open Sans', sans-serif;
}

#button {
  display: inline-block;
  background-color:#8fc178;
  color:#ffffff;
  border-radius: 5px;
  text-align:center;
  margin-top:2px;
  padding: 5px 15px;
  transition: opacity 0.3s;
}

#button:hover {
  cursor: pointer;
  opacity: .8;
}

ol {
  padding-left: 20px;
}

ol li {
  padding: 5px;
  color: #000;
  margin: 5px 0;
}

ol li:nth-child(even) {
  background: #eee;
  border-radius: 5px;
}

.strike {
  text-decoration: line-through;
}

li:hover {
  cursor: pointer;
 }

.delete {
	display: none;
}

.close {
  background: none;
	border: none;
	float: right;
  cursor: pointer;
  position: relative;
  bottom: 3.5px;
}

.close:focus {
  outline: none;
}
